
body {
    background-color: rgb(208, 208, 159);
}
  h1 {
  font-weight: bold;
    color:rgb(255, 255, 255)
  }

  p {
  font-weight: bold;
    color: rgb(157, 147, 142);
 } 
   
 strong {
  font-weight: bold;
  color:rgb(105, 6, 6)
  }
    
  h2 {
    font-weight: bold;
    color:rgb(224, 168, 160) 
    } 
     ul {
  font-weight: bold;
      color: rgb(197, 147, 43)
     }
  
 
     h3{
  font-weight: bold;
      color: rgb(242, 224, 203)
     }
 h4{
  font-weight: bold;
  color: rgb(114,106, 101)
 }
 
 a:link {
    font-weight: bold;
  color: rgb(77, 68, 58)
 }

 .img1 {
    width: 50%;
    text-align: center;
}
