
body {
    background-color: rgb(208, 208, 159);
}
  h1 {
color:rgb(255, 255, 255)
  }

  p {
color: rgb(41, 114, 31);
 } 
   
 strong {
color:rgb(105, 6, 6)
  }
    h2 {
  color: rgb(224, 168, 160)
    }